@{
    ViewBag.Title = "404 Page not found";
}

<hgroup class="title">
    <h1 class="error">404 page not found.</h1>
    <h2 class="error">The page you were looking for does not exist.</h2>
</hgroup>
