@model IEnumerable<Models.Ticket>

<h2>Reservations</h2>

<table>
    <tr>
        <th>
            Ticketholder
        </th>
        <th>
            Email
        </th>
        <th>
            Ticket
        </th>
        <th>
            Amount
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TicketHolder)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TicketHolderEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TicketType.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
    </tr>
}

</table>
